/*
 Criando minha classe padrão de seletores
*/

:root {
  --background-primiry-color: #8F0101;
  --background-secondary-color: #B81515;
  --background-tertiary-color: #F5F5F5;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;

  --text-error-color: #fd0101;
}

/*
 Declarando a fontface
*/
@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/*
 Resetando todas as configurações do CSS
*/
body,
div,
p,
section,
header,
form,
pre,
code {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

header {
  background-color: var(--background-primiry-color);
  display: flex;
  justify-content: center;
  padding: 2px auto;
  font-weight: var(--title-weight);
  color: var(--background-tertiary-color);
  height: 10vh;
  width: 100vw;
}

section {
  background-color: var(--background-secondary-color);
  margin: 0px;
  display: flex;
  height: 86vh;
  justify-content: center;
  width: 100vw;
}

code {
  width: 45vw;
  height: 80vh;
  display: inline-block;
  justify-content: center;
  border: 1px solid red;
  /* Quebra palavras muito longas */
  overflow-wrap: break-word;
  /* Garante a quebra no meio da palavra se necessário */
  word-break: break-word;
  overflow-y: auto;
}

footer {
  background-color: var(--background-tertiary-color);
  margin: 0px;
  display: flex;
  justify-content: center;
  height: 3vh;
  width: 100vw;
}

.editor {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45w;
}

.error {
  color: var(--text-error-color);
  font-size: var(--text-weight);
  font-weight: bold;
}